@model IEnumerable<WebApplication1.Models.Photo>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.orjname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sizeMB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.completed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/dosyalar/thumbs/@item.sysname" height="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orjname)
            </td>
            <td>
                @item.sizeMB.ToString("0.00")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.completed)
            </td>
            <td>
                <a asp-action="ResmiSil" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div id="previewDiv" style="display:none; background-color:gray" >elma</div>

<script>
    var posX = 0;
    var posY = 0;

    function ShowPreview(id, dom) {
        id = Number(id);
        var offset = $(dom).offset();
        posY = offset.top;
        posX = $(dom).css("width");

        $("#previewDiv").css({ "display": "table-cell", "position": "absolute", "top": posY, "left": posX, "z-index":"10" });
        
        new OzAjax("/Uploader/ShowPreview", GET, { id: id }, PreviewBasari).Send();
        function PreviewBasari(data) {
            $("#previewDiv").html(data);
        }
    }
    function RemovePreveiw() {
        $("#previewDiv").css({"display": "none"});
    }
</script>
